<p-table [value]="productos">
    <ng-template pTemplate="header">
        <tr class="nombres">
            <th>Code</th>
            <th>Name</th>
            <th>Username</th>
            <th>Phone</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr class="info">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.username}}</td>
            <td>{{product.phone}}</td>
        </tr>
    </ng-template>
</p-table>
